{% extends 'layouts/main.html' %}
{% block title %}Show Search{% endblock %}
{% block content %}

    <div class="page-header">
        <h1>Fyyur Search!</h1>
    </div>

    {% if results.count %}
    <p class="lead"> Show Search for "{{ search_term }}": {{ results.count }} </p>
    <div class="nav nav-pills">
        <div class="row shows">
            {% for show in results.data %}
            <div class="col-sm-4">
                <div class="tile tile-show">
                <img src="{{show.artist.image_link}}" alt="Artist Image" />
                <h4>{{ show.start_date }}</h4>
                <h5>
                    <a href="/artists/{{ show.artist_id }}">{{ show.artist.name }}</a>
                </h5>
                <p>playing at</p>
                <h5>
                    <a href="/venues/{{ show.venue_id }}">{{ show.venue.name }}</a>
                </h5>
                </div>
            </div>
            {% endfor %}
        </div>
    </ul>
    {%else%}
    <p class="lead"> Show Search for "{{ search_term }}": {{ results.count }} </p>
    {% endif %}
{#    Todo implement show search frontend #}

{% endblock %}